body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.main-content{

    margin-left: 220px;
    padding: 20px;
}
.images{
    position:absolute;

}

.sidebar{
background-color: aquamarine;
width: 200px;
height: 100%;
left: 0;
padding: 15px;
position: fixed;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover{
    text-decoration: underline;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(56, 112, 161);
 
}
.navbar a{
    color: white;
}
.navbar a:hover{
    background-color: beige;
    border-radius: 5px;
}
.box-model{
    padding: 15px;
    background-color: aquamarine;
    border: 5px solid yellow;
    margin: 20px;
    color: black;
}